<div class="m-5" *ngIf="product">
    <app-breadcrumb *ngIf="product" [showProductName]="false" [product]="product"></app-breadcrumb>  
    
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h4>Name:</h4>
            <p>{{ product.name }}</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <h4>Price:</h4>
            <p>{{ product.price | currencyFormat }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h4>Description:</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>